body {
  margin: 0;
  padding: 20px;
  height: 94vh;
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Luckiest Guy", cursive;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #262626;
  margin: 0 2%;
}
.heading {
  font-size: 100px;
  text-align: center;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 2%;
}
.icon {
  cursor: pointer;
  font-size: 25px;
  width: 200px;
  height: 90px;
  margin: 2%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.icon > .top,
.icon > .bottom {
  width: 100%;
  height: 3px;
  background: #262626;
  position: absolute;
  transition: transform 0.5s;
}
.top {
  top: 0px;
  left: 0px;
  transform-origin: right;
}
.bottom {
  bottom: 0px;
  right: 0px;
  transform-origin: left;
}

.icon:hover > .top {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(0);
}
.icon:hover > .bottom {
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}

.icon > .left,
.icon > .right {
  width: 3px;
  height: 100%;
  background: #262626;
  position: absolute;
  transition: transform 0.5s;
  transform: scaleY(0);
}

.left {
  left: 0px;
  transform-origin: bottom;
}
.right {
  right: 0px;
  transform-origin: top;
}
.icon:hover > .left {
  transition: transform 0.5s;
  transform-origin: top;
  transform: scaleY(1);
}
.icon:hover > .right {
  transition: transform 0.5s;
  transform-origin: bottom;
  transform: scaleY(1);
}
.home {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 30px;
}
.home > span {
  width: 100%;
  height: 3px;
  background: #262626;
  position: absolute;
  transition: transform 0.5s;
  bottom: 0;
  transform-origin: left;
}
.home:hover > span {
  transform: scaleX(0.43);
  transform-origin: left;
}
